body{
    background-color: #eee;
}

div{
    text-align: center;
}

#signup{
    border: solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
}

#btn{
    color: #fff;
    background: #5cac34;
    margin-bottom:5px;
}

.fields{
    margin-bottom: 5%;
}
#title{
    font-size: 20px;
    font-weight: bold;  
    text-align: center;
}
p{
    text-align: center;
    color: blue;
}